$boxSize: 50px;

@font-face {
    font-family: 'FocusFont';
    src: url('@/assets/font.otf');
}

:root {
    --textColor: black;
    --backgroundColor: white;

    .dark {
        --textColor: white;
        --backgroundColor: black;
        
        img,
        .timer-outline,
        .timer {
            filter: invert(100%);
        }

        .g-btn-wrapper {
            * {
                color: black;
            }
        }
    }
}

#app{ 
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: $boxSize;
}

* {
    font-family: 'FocusFont';
    
    color: var(--textColor);

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%
}

body {
    background-color: var(--backgroundColor);
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    padding: $boxSize * .05;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $boxSize * 2;
    
    width: 100%;
    height: 100%;
}

.background {
    width: $boxSize * 15.10;
    height: 100%;

    background-color: var(--backgroundColor);
    background-image: url("@/../public/assets/icons/Dot.png");
    
    background-size: $boxSize;
    background-position-x: .05 * $boxSize;
    background-position-y: .05 * $boxSize;
    
    background-clip: content-box;
}

.navbar-wrapper {
    width: $boxSize * 11;
    height: $boxSize * 2;
}

.navbar {
    display: flex;
    gap: $boxSize;
}

.button-icon {
    width: $boxSize * 2;
    height: $boxSize * 2;
}

.button-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: min-content;

    background-color: var(--backgroundColor);
    padding: 16px;
    border-radius: 2px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

input {
    background-color: var(--backgroundColor);
}

.settings,
input {
    font-size: $boxSize * .75;
}

.timer-outline {
    background-image: url("@/../public/assets/WideBox.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $boxSize;

    height: $boxSize * 5;
    width: $boxSize * 7;
}

.time {
    font-size: $boxSize * 2;
    height: $boxSize * 2;
    width: fit-content;
}

.timer-buttons {
    display: flex;
    flex-direction: row;
    gap: $boxSize;

    margin-top: -1 * $boxSize * .3;
}

.timer-button-icon {
    width: $boxSize * 2;
    height: $boxSize * 2;
}